.advertise-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    width: 100%;
    min-height: calc(100vh - 115px);
    flex-shrink: 0;
}

.advertise-container section {
    display: flex;
    flex-direction: column;
    background-color: #D8DBBD;
    width: 70vw;
    height: 250px;
    margin-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, .3);
    border-radius: 12px;
    flex-shrink: 0;
}

.advertise-container section:last-child {
    margin-bottom: 12px;
}

.advertise-button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70vw;
    flex-direction: column;
    margin-bottom: 60px;
}

.advertise-error-container {
    margin: 10px 0 4px 0;
}

/* input styling */

.advertise-input {
    width: 240px;
    padding: 8px 12px;
    margin-left: 20px;
    margin-top: 12px;
    outline: 1.5px solid #2A3663;
    border: none;
    border-radius: 12px;
    background-color: #FAF6E3;
    opacity: 1;
}

.advertise-input-check {
    width: 240px;
    padding: 8px 12px;
    margin-left: 20px;
    margin-top: 12px;
    outline: 1.5px solid rgba(204, 0, 0, 0.5);
    border: none;
    border-radius: 12px;
    background-color: #FAF6E3;
    opacity: 1;
}

.advertise-input-check:hover {
    outline: 0.5px solid rgba(222, 0, 0, 1);
}

.advertise-container textarea {
    width: calc(100% - 42px);
    height: 120px;
    resize: none;
}

/* select input */

.advertise-input-select-wrapper {
    height: 52px;
    width: 260px;
    position: relative;
}

.advertise-input-select-wrapper::before,
.advertise-input-select-wrapper::after {
    --size: 0.3rem;
    position: absolute;
    content: "";
    right: 1rem;
    pointer-events: none;
}

.advertise-input-select-wrapper::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 50%;
}

.advertise-input-select-wrapper::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 65%;
}

.advertise-input-select {
    width: 240px;
    padding: 8px 12px;
    margin-left: 20px;
    margin-top: 12px;
    outline: 1.5px solid #2A3663;
    border: none;
    border-radius: 12px;
    appearance: none;
    background-color: #FAF6E3;
}

.advertise-input-select:focus,
.advertise-input-select:hover {
    outline: 2.5px solid rgb(58, 74, 120);
}

/* image input */

.advertise-input-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 167px;
    height: 167px;
    padding: 8px 12px;
    margin-left: 20px;
    margin-top: 12px;
    outline: 1.5px solid #2A3663;
    border: none;
    border-radius: 12px;
    background-color: #FAF6E3;
    opacity: 1;
}

.advertise-input-image:hover, .advertise-input:hover {
    outline: 2px solid #2A3663;
}

.advertise-input-image-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1.5px solid #2A3663;
}

.advertise-input-image-inner p {
    opacity: 1;
    font-size: 26px;
}

.advertise-container input[type="file"] {
    display: none;
}

.advertise-input-image-show {
    border-radius: 10px;
    height: 151px;
    display: none;
    opacity: 1;
    object-fit: cover;
}

/* checkbox input */

.advertise-input-checkbox-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 12px 0 0 24px;
}

.advertise-input-checkbox {
    width: 22px;
    height: 22px;
}

.advertise-input-checkbox-label {
    margin-left: 12px;
}

@media screen and (min-width: 768px) {
    .advertise-container {
        min-height: calc(100vh - 171px);
    }

    .advertise-container textarea {
        width: 500px;
    }

    .advertise-button-container {
        flex-direction: row;
        margin-bottom: 25px;
    }

    .advertise-error-container {
        margin: 6px 0 0 50px;
    }
}