.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 115px);
    padding-top: 160px;
    flex-shrink: 0;
}

.login-form h1 {
    font-weight: 300;
    font-size: 28px;
}

.login-form h2 {
    font-weight: 240;
    font-size: 20px;
    margin-bottom: 16px;
}

.login-form-input-container {
    height: 62px;
}

.login-form-input {
    width: 260px;
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    outline: 2.5px solid #2A3663;
    background-color: #B59F78;
    color: #000000;
    opacity: 0.7;
    font-size: 14px;

    -moz-transition: all 60ms ease-in;
    -o-transition: all 60ms ease-in-out;
    -webkit-transition: all 60ms ease-in;
    transition: all 60ms ease-in;
}

.login-form-input:active, .login-form-input:focus {
    outline: 3.5px solid #495eac;
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .login-form {
        min-height: calc(100vh - 171px);
    }

    .login-form h1 {
        font-weight: 300;
        font-size: 36px;
    }

    .login-form h2 {
        font-size: 26px;
    }

    .login-form-input {
        width: 340px;
        font-size: 18px;
    }
}