.register-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    width: 100%;
    min-height: calc(100vh - 171px);
    flex-shrink: 0;
}

.register-form {
    display: flex;
    flex-direction: column;
    background-color: #D8DBBD;
    width: 384px;
    height: 445px;
    border: 2px solid rgba(0, 0, 0, .3);
    border-radius: 12px;
    flex-shrink: 0;
}

.register-form h3 {
    margin: 12px 0 8px 20px;
    font-size: 20px;
    font-weight: 280;
    text-decoration: underline;
    opacity: 0.7;
}



/* text inputs */

.register-form-input-wrapper {
    width: 240px;
    padding: 8px 12px;
    margin-left: 20px;
    margin-top: 12px;
    border: 1.5px solid #2A3663;
    border-radius: 12px;
    background-color: #FAF6E3;
    opacity: 0.7;
}

.register-form-input {
    width: 212px;
    padding: 0 2px;
    background-color: white;
    outline: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    border: none;
    -moz-transition: all 60ms ease-in;
    -o-transition: all 60ms ease-in-out;
    -webkit-transition: all 60ms ease-in;
    transition: all 60ms ease-in;
}

.register-form-input:hover, .register-form-input:focus {
    outline: 0.5px solid rgba(0, 0, 0, 0.7);
}

/* checkbox inputs */

.buffer-register {
    margin-top: 10px;
}

.register-form-input-checkmark-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    margin-left: 32px;
    opacity: 0.7;
}

.register-form-input-checkmark-wrapper p {
    margin-left: 8px;
}

.register-form-input-checkmark {
    width: 20px;
    height: 20px;
}

/* register button */

.register-form-button {
    margin-left: 20px;
}