/* HomePage category button styling */

.category-button {
    width: 228px;
    height: 46px;
    padding: 6px 9px;
    border-radius: 13px;
    background-color: #B59F78;
    font-size: 19px;
    cursor: pointer;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    border: 2px solid #B59F78;
}

.category-button:hover{
    background-color: transparent;
}

/* NavBar styling */

.variant-nav {
    font-size: 19px;
    padding: 15px 23px;
    margin-left: 20px;
    background-color: #2A3663;
    border-radius: 9px;
    border: none;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.variant-nav:hover, .variant-nav:active {
    background-color: #495eac;
}

.active-menu-link {
    text-decoration: underline;
}

.default-menu-link {
    text-decoration: none;
}

/* login button */

.submit-button {
    margin-top: 6px;
    padding: 12px 23px;
    border: none;
    border-radius: 10px;
    background-color: #2A3663;
    font-size: 19px;
    color: #FFFFFF;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.submit-button:hover, .submit-button:active {
    background-color: #495eac;
}

/* delete button */

.variant-delete {
    font-size: 19px;
    padding: 15px 23px;
    margin: 0 50px;
    background-color: #2A3663;
    color: #FFFFFF;
    border-radius: 9px;
    border: none;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.variant-delete:hover, .variant-delete:active {
    background-color: #495eac;
}

/* variant normal */

.variant-normal {
    margin-right: 6px;
    padding: 2px 5px;
    background-color: #2A3663;
    color: #FFFFFF;
    border-radius: 0 6px 6px 0;
    border: 2px solid #2A3663;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.variant-normal:hover, .variant-normal:active {
    background-color: #495eac;
    border-color: #495eac;
}