/* HomePage category button styling */

.category-button {
    width: 228px;
    height: 46px;
    padding: 6px 9px;
    border-radius: 13px;
    background-color: #B59F78;
    font-size: 19px;
    cursor: pointer;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    border: 2px solid #B59F78;
}

.category-button:hover{
    background-color: transparent;
}

/* NavBar styling */

.variant-nav {
    font-size: 19px;
    padding: 15px 23px;
    background-color: #2A3663;
    border-radius: 9px;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.variant-nav:hover, .variant-nav:active {
    background-color: #495eac;
}

.active-menu-link {
    text-decoration: underline;
}

.default-menu-link {
    text-decoration: none;
}

/* category filter */

.filter-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 180px;
    font-size: 19px;
    padding: 13px 20px;
    background-color: #2A3663;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #495eac;
}

.filter-button-image-wrapper {
    margin-top: 6px;
    width: 19px;
    flex-shrink: 0;
}

.filter-button p {
    margin-top: 4px;
}

/* login button */

.login-button {
    margin-top: 6px;
    padding: 12px 23px;
    border: none;
    border-radius: 10px;
    background-color: #2A3663;
    font-size: 19px;
    color: #FFFFFF;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.login-button:hover, .login-button:active {
    background-color: #495eac;
}