.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    width: 100%;
    min-height: calc(100vh - 115px);
    flex-shrink: 0;
    align-items: center;
}

.profile-right-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #D8DBBD;
    width: 384px;
    height: 445px;
    margin: 0 0 60px 0;
    border: 2px solid rgba(0, 0, 0, .3);
    border-radius: 12px;
    flex-shrink: 0;
}

.profile-left-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #D8DBBD;
    width: 384px;
    height: 292px;
    margin: 0;
    border: 2px solid rgba(0, 0, 0, .3);
    border-radius: 12px;
    flex-shrink: 0;
}

.profile-right-wrapper h3, .profile-left-wrapper h3{
    margin: 12px 0 8px 20px;
    font-size: 20px;
    font-weight: 280;
    text-decoration: underline;
    opacity: 1;
}

.profile-button {
    margin: 5px 0 10px 20px;
}

/* profile inputs */

.profile-input-wrapper {
    width: 240px;
    padding: 8px 12px;
    margin-left: 20px;
    margin-top: 12px;
    border: 1.5px solid #2A3663;
    border-radius: 12px;
    background-color: #FAF6E3;
    opacity: 1;
}

.profile-output-wrapper {
    width: 336px;
    padding: 8px 12px;
    margin-left: 20px;
    margin-top: 12px;
    border: 1.5px solid #2A3663;
    border-radius: 12px;
    background-color: #FAF6E3;
    opacity: 1;
}

.profile-input {
    width: 212px;
    padding: 0 2px;
    background-color: white;
    outline: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    border: none;
    -moz-transition: all 60ms ease-in;
    -o-transition: all 60ms ease-in-out;
    -webkit-transition: all 60ms ease-in;
    transition: all 60ms ease-in;
}

.profile-input:hover, .profile-input:focus {
    outline: 0.5px solid rgba(0, 0, 0, 0.7);
}

.profile-input-error {
    width: 212px;
    padding: 0 2px;
    background-color: white;
    outline: 0.5px solid rgba(204, 0, 0, 0.5);
    border-radius: 6px;
    border: none;
    -moz-transition: all 60ms ease-in;
    -o-transition: all 60ms ease-in-out;
    -webkit-transition: all 60ms ease-in;
    transition: all 60ms ease-in;
}

.profile-input-error:hover, .profile-input-error:focus {
    outline: 0.5px solid rgba(222, 0, 0, 1);
}

/* delete button */

.user-delete-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .profile-container {
        flex-direction: row;
        align-items: flex-start;
        min-height: calc(100vh - 171px);
    }

    .profile-left-wrapper {
        margin: 0 40px;
    }

    .profile-right-wrapper {
        margin: 0 40px;
    }

    .user-delete-button-wrapper {
        margin-bottom: 0;
    }
}