/* Navbar */

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 114px;
    background: #B59F78;
}

/* logo */

.logo {
    width: 114px;
}

/* buffers */

.buffer {
    width: 774px;
    flex-shrink: 1;
}

.buffer-two {
    width: 246px;
    flex-shrink: 1;
}

/* search bar */

.search-bar {
    width: 456px;
    background: rgba(250, 246, 227, 0.6);
    outline: 2.5px solid #2A3663;
    border: none;
    border-radius: 10px;
    font-size: 19px;
    color: #000000;
    padding: 10px 18px;

    -moz-transition: all 30ms ease-in;
    -o-transition: all 30ms ease-in-out;
    -webkit-transition: all 30ms ease-in;
    transition: all 30ms ease-in;
}

.search-bar:active, .search-bar:focus {
    outline: 3px solid #495eac;
}

/* Login en registreren tekst */

nav * {
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

/* containers */

.logo-container {
    width: 114px;
    padding-left: 19px;
    flex-shrink: 0;
}

.search-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 462px;
    flex-shrink: 0;
}

.button-register-container {
    width: 177px;
    flex-shrink: 0;
}

.button-login-container {
    width: 133px;
    padding-right: 19px;
    flex-shrink: 0;
}