#root {
  margin: 0 auto;
}

/* error styling */

.error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  height: 28px;
  border: 1.5px solid rgba(204, 0, 0, 0.5);
  border-radius: 8px;
}

.error-message {
  padding: 0 6px;
  font-size: 16px;
  color: rgba(204, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .error-wrapper {
    width: 100%;
  }

  .error-message {
    width: 100%;
  }
}