/* containers */

.homepage-container {
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 115px);
    display: flex;
}

.homepage-filter-container {
    width: 17vw;
    height: 70vh;
}

.homepage-content-container {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 171px);
}

.homepage-category-container {
    width: 300px;
    height: 114px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 3vw;
}

.homepage-product-article-container {
    min-height: calc(100vh - 285px);
    display: grid;
    grid-column-gap: 19px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 140px);
    justify-content: space-around;
    margin: 0;
}

.category-list-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.homepage-error-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Filters */

.homepage-filter-bar {
    display: flex;
    flex-direction: column;
    margin: 26px 97px 0 49px;
    height: 100%;
}

.filter-inputs-wrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: 100%;
    margin-top: 13px;
}

/* Categories */

.category-rotator-button, .category-rotator-button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.category-rotator-svg {
    padding: 3.8px 3.8px 3.8px 1.9px;
    height: 100%;
}

.homepage-filter-container {
    display: none;
}

/* desktop */

@media screen and (min-width: 768px) {
    .homepage-container {
        align-items: flex-start;
        flex-direction: row;
        min-height: calc(100vh - 171px);
    }

    .homepage-filter-container {
        display: block;
    }

    .homepage-content-container {
        align-items: flex-start;
        width: 83vw;
    }

    .category-rotator-button, .category-rotator-button:hover {
        height: 38px;
        width: 38px;
        border-radius: 9px;
    }

    .homepage-category-container {
        width: calc(100% - 6vw);
    }

    .homepage-product-article-container {
        grid-template-columns: repeat(auto-fill, 304px);
        justify-content: space-between;
        margin: 0 3vw;
        width: calc(100% - 6vw);
    }

    .homepage-error-container {
        display: block;
    }
}
